.card_style:hover {
	background: rgba(128, 128, 128, 0.219) !important;
	border-radius: 6px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	color: #738e7aa6;
}

.card_title span {
	font-family: "Megrim", cursive;
	font-size: 1rem;
	color: #cbd4de;
}
.card_text {
	font-family: "Mitr", sans-serif !important;
	color: #cbd4de;
}

.card_icon:hover {
	color: #cbd4de;
}
