footer {
   display: flex;
   justify-content: space-around;
   padding-top: 5px;
}

.logomailtel {
   margin-right: 10px;
}

.logomailtel:hover {
   scale: 1.3;
   transition: all 0.5s;
}

.footer_text {
   font-weight: 500;
   color: #f5deb3;
}