footer {
   display: flex;
   justify-content: space-around;
   padding-top: 5px;
}

.footer_anton_box {
   color: #cbd4de;
   font-weight: 900;
}

.footer_bogdan_box {
   color: #cbd4de;
   font-weight: 900;
}

.logomailtel {
   margin-right: 10px;
}

.logomailtel:hover {
   scale: 1.3;
   transition: all 0.5s;
}

.footer_text {
   font-weight: 900;
   color: #cbd4de;
}