footer {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   padding-top: 5px;
}

.footer_anton_box {
   color: #cbd4de;
   font-weight: 900;
}

.footer_bogdan_box {
   color: #cbd4de;
   font-weight: 900;
}

.logomailtel {
   margin-right: 10px;
}

.logomailtel:hover {
   scale: 1.3;
   transition: all 0.5s;
}

.footer_text {
   font-weight: 900;
   color: #cbd4de;
}


/* MEDIA */
@media (max-width: 500px) {
   footer {
      text-align: center;
      position: relative;
   }
   .footer_anton_box {
    width: 100%;
    margin-bottom: 40px;
   }
   
   .footer_bogdan_box {
      width: 100%;
   }
   .footer_text {
      width: 100%;
      position: absolute;
      bottom: 10px;
   }
}